doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js')
    script.
      var MAPBOX_ACCESS_TOKEN = "#{mapbox_token}";
      var MAPBOX_MAP_ID = "#{mapbox_id}";
    script(src='/javascripts/map.js')
  body
    block content
