body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweet {
  margin: 20px 0px;
  padding: 20px;
  border: solid 1px #dddddd;
}

#twitterMap {
  height: 300px;
}